{# templates/animes/animes_all.html.twig #}
{% extends 'base.html.twig'%}

{% block body %}
<body>
    <h1 id ="titre_animes">Voici la liste de tous les animes</h1>
    </br>
    
        <div class="row"> 
            {% for item in animes %}
                    <div class="col-12 col-lg-3">
                        <img src ="{{ asset('pictures/'~ item.pictures ~'') }}" height = "350px" width="250px">
                        <a class ="btn btn-primary" href="{{ path('animesId', {id: item.id}) }}" role="button">Fiche descriptive</a>
                        <p>{{ item.title }}</p>
                    </div>
            {% endfor %}
        </div>
</body>
{% endblock %}