{# templates/animes/animes_all.html.twig #}
{% extends 'base.html.twig'%}
{% block body %}
<h1>Voici la liste de tous les animes :</h1>
    {% for item in animes %}
            <li>{{ item.title }}</li>
            <img src ="{{ asset('pictures/'~ item.pictures ~'') }}" height = "400px" width="300px">
            <a href="{{ path('animesId', {id: item.id}) }}">Fiche descriptive</a>
    {% endfor %}
{% endblock %}
