.navbar {
    background-color: #A92AD5; 
    border-color: #A92AD5;
}

.jumbotron {
    background-color: #56d52a;
}

a {
    color: black;
}

a:hover {
    color : red;
}

h1 {
    font-family: "https://fonts.google.com/specimen/Cabin?preview.size=61&preview.text=This%20is%20the%20Title&preview.text_type=custom&sidebar.open=true";
    font-size: 40px;
    color: black;
}

h2 {
    font-family: " https://fonts.google.com/specimen/Averia+Gruesa+Libre#standard-styles";
    font-size: 30px;
    color: black;
}

p {
    font-family: "https://fonts.google.com/specimen/Baloo+Tamma+2?preview.size=14&selection.family=Baloo+Tamma+2";
    font-size: 20px;
    color: black;
}

html, body {
    height: 100%;
	margin: 0; 
    padding: 0;
}

body
{
    display : table;
	width: 100%;

    background-image: url("../pictures/papier.png");
    background-size: cover;
    background-attachment: fixed;
}

.footer {
    display : table-row;
    height: 30px;
    background-color: #56d52a;
}

.img_home {
    width: 250px;
    height: 350px;
}

#titre_home {
    display: flex;
    justify-content: center;
}

#titre_animes {
    display: flex;
    justify-content: center;
}

.img_animes {
    float: left;
}

.description {
    padding-left: 280px;
}

.p_animes {
    font-weight: bold;
}

.btn {
    background-color: #A92AD5;
}

.btn:hover {
    background-color: #56d52a;
}

#titre_mangas {
    display: flex;
    justify-content: center;
}

#article {
    font-style: italic;
}

.contact-form{
    background:rgba(0,0,0, .6);
    color:white;
    margin-top: 100px;
    padding: 20px;
    box-shadow: 0px 0px 10px 3px grey;
}

#titre_contact {
    color: white;
}

.contact {
    color: white;
}

hr{
    background: white;	
}