{# templates/articles/articles_all.html.twig #}
<h1>Voici la liste de tous les articles : 
    {% for item in news %}
            <li>{{ item.title }}</li></br>
            <li>{{ item.content }}</li></br>
            <li>{{ item.date }}</li></br>
    {% endfor %}
</h1>