{# templates/articles/articles_all.html.twig #}
{% extends 'base.html.twig'%}
{% block body %}
<body>
    {% for item in news %}
            <h1>{{ item.title }}</h1></br>
            <p id= "article">Publié le {{item.date|date('d/m/Y')}} </p>
            <p>{{ item.content|raw }}</p></br>
    {% endfor %}
</body>
{% endblock %}
