{# templates/articles/articles_id.html.twig #}
{% extends 'base.html.twig'%}
{% block body %}
<body>
    <h1>Vous avez recherché un article par son ID et vous êtes tombé sur :
        {{ news.title }}
    </h1>
</body>
{% endblock %}