{# templates/mangas/mangas_all.html.twig #}
{% extends 'base.html.twig'%}

{% block body %}
<body>
    <h1 id ="titre_mangas">Voici la liste de tous les mangas</h1> 
    </br>

        <div class="row"> 
            {% for item in mangas %}
                <div class="col-12 col-lg-3">
                    <img src ="{{ asset('pictures/'~ item.pictures ~'') }}" height = "350px" width="250px">
                    <a class ="btn btn-primary" href="{{ path('mangasId', {id: item.id}) }}" role="button">Fiche descriptive</a>
                    <p>{{ item.books }}</p>
                </div>
            {% endfor %}
        </div>
</body>
{% endblock %}
