{# templates/user/user.html.twig #}
{% extends 'base.html.twig'%}

{% block body %}
<body>
    <p>Bienvenue sur ton profil {{ app.user.username }}</p>

    <h1>Voici la liste de toutes nos oeuvres :</h1> 
        <a href="{{ path('works') }}">Ajout à votre collection</a>

    <h1>Voici vos collections :</h1>
    
    {% for item in works %}
        <p>{{ item.title }}</p>
        <img src ="{{ asset('pictures/'~ item.pictures ~'') }}" height = "400px" width="300px">
    {% endfor %}
</body>  
{% endblock %}