{% extends 'base.html.twig' %}

{% block body %}
<body>
    <p>Voici la liste de toutes les oeuvres : 
        {% for a in works %}
            <li>{{ a.title }}</li>
            <img src ="{{ asset('pictures/'~ a.pictures ~'') }}" height = "400px" width="300px">
            {% for b in app.user.collectionFavoris %}
                <a href="{{ path('addmangas', {"id" : a.id, "collection" : b.name }) }}">{{b.name}}</a>
            {% endfor %}
        {% endfor %}
    </p>
</body>
{% endblock %}